body {
    background-color: #f5f7fa;
}

.card {
    border: none;
    border-radius: 16px;
}

.btn-primary {
    border-radius: 10px;
}

input {
    border-radius: 10px;
}

.ingredient-item {
    transition: 0.2s ease;
}

.ingredient-item:hover {
    transform: scale(1.01);
}